In [18]:
import pandas as pd
df = pd.read_csv('play_tennis.csv')
df.drop(['day','wind'],axis=1)

     outlook  temp humidity play
0      Sunny   Hot     High   No
1      Sunny   Hot     High   No
2   Overcast   Hot     High  Yes
3       Rain  Mild     High  Yes
4       Rain  Cool   Normal  Yes
5       Rain  Cool   Normal   No
6   Overcast  Cool   Normal  Yes
7      Sunny  Mild     High   No
8      Sunny  Cool   Normal  Yes
9       Rain  Mild   Normal  Yes
10     Sunny  Mild   Normal  Yes
11  Overcast  Mild     High  Yes
12  Overcast   Hot   Normal  Yes
13      Rain  Mild     High   No

### Ck = {c1,c2,....,ck} clases
### X = {x1,x2,x3...,xn} attributes

#### P( Ck / X ) = P(x1/Ck) * P(x2/Ck) * ..... * P(xn/Ck)
#### ypredidected = Argmax among all clases

In [19]:
# find outcome for Sunny, Hot, High ==> play/ No play

In [20]:
# training ==> lookup table which contain all probabilites so we can use them for testing

In [21]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [22]:
Pplay = 9/14
Pnplay = 5/14

In [23]:
# outlook : 0
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [24]:
Pon = 0
Poy = 4/9

Prn = 2/5
Pry = 3/9

Psn = 3/5
Psy = 2/9

In [25]:
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [26]:
Pcn = 1/5
Pcy = 3/9

Phn = 2/5
Phy = 2/9

Pmn = 2/5
Pmy = 4/9

In [27]:
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [28]:
Phin = 4/5
Phiy = 3/9

Pnorn = 1/5
Pnory = 6/9

In [30]:
#  C1 = Play/Yes , C2 = Noplay/No xtest = Sunny, Hot, High
P_C1_given_xtest = Psy*Phy*Phiy*Pplay
P_C1_given_xtest

0.010582010582010581

In [31]:
P_C2_given_xtest = Psn*Phn*Phin*Pnplay
P_C2_given_xtest

0.06857142857142857

In [32]:
# hence We Saw P(C2/X) > P(C1/X) : Noplay is answer